Screen {
    background: $surface-darken-1;
}

#tree-view {
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    dock: left;
}

#code-view {
    overflow: auto scroll;
    min-width: 100%;
}
#code {
    width: auto;
}

Header {
    background: #5f43b2;
    color: #fefdfd;
}

Footer {
    background: #5f43b2;
    color: #fefdfd;
}

.footer--key {
    background: #808080;
    color: #fefdfd;
    text-style: bold;
}

